
$Brown: rgb(54,0,14);
$white: rgb(255,255,255);
$gray: #b7b7b7;
$blue: #29dede;

body {
  font-family: 'Segoe UI';
  background-color: #f7f7f7;
}

#conteudo-compra {
  width: 100%;
}

.botao-desabilitado {
  cursor: not-allowed;
  opacity: 0.6;
}

.titulo-secao {
  padding: 20px;
  background-color: $blue;
  color: $white;
  font-size: 25px;
  display: flex;

  .filtro-campo {
    width: 200px;

    .label-filtro {
      font-size: 17px;
      position: absolute;
      top: -12px;
    }

    .select-filtro {
      width: 100%;
      padding: 2px;
      position: absolute;
      top: 18px;
      border: 1px solid $white;
      color: $gray;
    }
  }
}

.filtros {
  position: absolute;
  right: 20px;
}

#produtos {
  padding: 20px;
  display: none;
  margin-left: 20px;
  min-height: 580px;
}

.produtos-carregados {
  display: flex;
  flex-wrap: wrap;
  margin-top: 58px;
  padding-left: 2%;
}

.product-fade {
  position: absolute;
  width: 270px;
  height: 300px;
  background: rgba(0,0,0, 0.5);
  top: 0px;
  display: none;
}

.product-fade-circle {
  background: rgba(0,0,0, 0.5);
  position: absolute;
  width: 65px;
  height: 25px;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  bottom: -25px;
  margin-left: calc(50% - 34px);
}

.product {
  background: $gray;
  width: 270px;
  height: 300px;
  float: left;
  margin: 40px;
  cursor: pointer;
  transition: .3s;
  position: relative;
  border: 1px solid $gray;
  box-shadow: -3px 9px 20px 4px #868585;

  &:hover {
    box-shadow: -3px 9px 20px 4px #748e8e;
  }
}

.product:hover {
  margin-top: 22px;
  margin-bottom: 55px;

  .product-button {
    background: $blue;
  }
}

.clicado-fade {
  display: block;
}

.clicado:hover {
  margin: 40px;

  .product-button {
    background: $white;
  }
}

.popup-qtd {
  width: 230px;
  padding: 11px;
  background: $white;
  font-family: 'Segoe UI';
  margin-left: calc(50% - 126px);
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;

  input {
    width: 100%;
    float: right;
    font-size: 14px;
    padding: 2px;
    margin-top: 5px;
    border: 1px solid #dadada;
  }

  label {
    font-size: 16px;
    margin-bottom: 5px;
  }

  .add-to-cart {
    width: 100%;
    margin-top: 20px;
    background: #adadad;
    color: $white;
    border: 0;
    padding: 10px;
  }

  .add-to-cart:hover {
    background: $blue;
    cursor: pointer;
  }

  .error-add {
    display: none;
    color: red;
    text-align: center;
  }

  .error {
    display: block;
    margin-top: 40px;
    font-size: 14px;
  }
}

.product-image {
  width: 100%;
  height: 135px;
  margin-bottom: 15px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 218px;
}

.cart-blink {
  animation: blinker 6s linear infinite;
}

@keyframes blinker {
  50% {
    background-color: rgba(202, 195, 196, 0.8);
  }
}

.filtrado {
  display: none;
}

.cart-icone-add {
  margin: 13px;
  opacity: .3;
  width: 30px;
}

.product-name {
  text-align: center;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 5px;
  font-size: 21px;
  height: 65px;
  color: $white;
}

.product-code {
  height: 20px;
  font-size: 14px;
}

.product-price {
  text-align: center;
  width: 80%;
  margin-left: 10%;
  font-size: 22px;
  color: $white;
}

.product-button {
  background: $white;
  color: $white;
  height: 55px;
  border: 6px solid $gray;
  width: 55px;
  margin-left: calc(50% - 35px);
  border-radius: 50px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
}

.product-data {
  height: 110px;
  color: black;
  font-family: 'Segoe UI';
}

.product-description {
  width: 80%;
  margin-left: 10%;
  margin-bottom: 10px;
}

.cart-circle {
  right: 0px;
  top: 120px;
  position: fixed;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: $gray;
  transition: 0.2s;
  z-index: 800;
  opacity: 0.6;
  display: none;
}

.cart-open {
  right: 680px;
  opacity: 1;
  box-shadow: 1px 3px 20px 1px #868585;

  .cart {
    box-shadow: -9px 16px 20px 0px #a7a3a3;
  }
}

.cart-buttons {
  padding: 10px;
  background-color: $white;
  border: 1px solid #dedede;
  cursor: pointer;

  &:hover {
    border: 1px solid $blue;
    background-color: $blue;
    color: white;
  }
}

#cart-popup {
  width: 280px;
  height: 125px;
  background-color: white;
  font-size: 18px;
  color: $Brown;
  margin: 34px;
  height: 150px;
  min-width: 75px;
}

#cart-popup-text {
  padding: 15px;
}

#cart-total {
  font-size: 20px;
  margin-left: 25px;
  margin-bottom: 10px;
  color: $white;
  height: 28px;
  margin-top: 5px;
  overflow: hidden;
}

.cart {
  margin-top: -1px;
  width: 700px;
  margin-left: 60px;
  height: 525px;
  background-color: $gray;
  display: none;
}

.cart-faixa {
  width: 720px;
  margin-left: 40px;
  height: 80px;
  background-color: $gray;
}

.cart-icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 10px;
  position: absolute;
  background-color: $white;
  cursor: pointer;

  &:hover {
    background-color: $blue;
  }
}

.cart-title {
  padding: 18px;
  padding-left: 54px;
  color: $white;
  font-size: 26px;
  font-family: 'Segoe UI';
}

#cart-linha {
  border-top: 1px solid $white;
  margin: 0px 20px 0px 20px;
}

#cart-items {
  padding: 20px;
  height: 390px;
  max-height: 390px;
  overflow: auto;
  overflow-x: hidden;
}

#cart-empty {
  width: 45%;
  float: left;
  margin-left: 4%;
}

#cart-finish {
  width: 45%;
  float: right;
  margin-right: 4%;
}

.cart-image {
  margin: 5px;
  margin-top: 8px;
  width: 40px;
  padding: 4px;
  opacity: 0.3;
}

.cart-item {
  position: relative;
  margin-bottom: 40px;
  margin-top: 15px;

  .qtd-div {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 30%;
  }

  .cart-item-image {
    width: 120px;
    height: 67px;
    margin-bottom: 12px;
    background-repeat: no-repeat;
    background-size: 80%;
    background-color: $white;
    background-position: 50% 60%;
    float: left;
  }

  .product-name {
    margin-bottom: 0;
    font-size: 21px;
    color: $white;
    width: 80%;
    margin-left: 8px;
    text-align: left;
    padding-left: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  label {
    color: $white;
    font-size: 17px;
    font-family: 'Segoe UI';
    margin-left: 5px;
    margin-bottom: 5px;
  }

  .label-items {
    margin-top: 35px;
    margin-left: -118px;
  }

  input {
    width: 100%;
    margin-top: 8px;
    margin-left: 3px;
    padding: 5px;
    border: 1px solid #dadada;
  }

  .product-price {
    width: 60%;
    margin-top: 35px;
    font-size: 23px;
    float: left;
    text-align: right;
    margin-bottom: 0;
    margin-left: 30px;
    color: $white;
    float: right;
  }

  .product-line {
    clear: both;
    border-top: 1px solid #b2b2b5;
  }
}

.cart-popup {
  display: block;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #6f6f6f;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: #a7a9ac;
}


#dados-entrega {
  .input-adress-edit {
    background-color: rgba(255,255,255,0.8);
    border: 1px solid #ababab;
  }
}

.lists {
  list-style: none;
  background-color: $white;
  border: 1px solid #c1c1c1;
  box-shadow: 0 6px 19px 0 #7d7d7d;
  max-height: 200px;
  overflow-y: auto;
  transition: 0.2s;
  position: absolute;
  width: calc(100% - 2px);
  z-index: 1000;
}

.list-item {
  padding: 10px;
  color: #666666;
  cursor: pointer;
  transition: 0.2s;
}

.list-item:hover {
  background-color: rgba(54,0,14,.8);
  color: $white;
}

#clientes-list, #cnpj-list {
  display: none;
}


.remove-item {
  border: 1px solid #d0d0d4;
  color: $white;
  font-family: 'Helvetica','Arial',sans-serif;
  font-size: 1.3em;
  padding: 1px 5px 0px;
  font-weight: 700;
  text-align: center;
  border-radius: 5px;
  width: 15px;
  position: absolute;
  right: 0px;
  top: -20px;
  cursor: pointer;
  transition: 0.2s;
}

.remove-item:hover {
  background-color: #f1f1f2;
}

.cart-faixa-x {
  display: none;
}

@media only screen and (max-width: 1020px) {

  .titulo-secao {
    width: 89%;
  }

  .campo {
    float: none;
  }

  .divisor {
    width: 91%;
  }

  .product {
    width: 42%;
    margin: 22px;
  }

  .product-fade {
    width: 100%;
  }

  .product:hover {
    margin: 22px;
  }

  .product-image {
    background-position: 50% 50%;
  }
}

@media only screen and (max-width: 715px) {
  .product {
    width: 89.4%;
  }

  #produtos {
    margin-left: 0px;
    padding: 0px;
  }

  .cart-circle {
    top: 0px;
  }

  .cart-circle-mobile {
    background-color: #fff0;
    width: 100%;
    right: 42px;
  }

  .cart-mobile {
    width: 100%;
    height: 1000px;
    margin-left: 42px;
  }

  .cart-icon-mobile {
    opacity: 0;
  }

  .cart-title-mobile {
    border-bottom: 1px solid $white;
    padding: 18px 18px 18px 18px;
    margin-right: 8px;
    margin-left: 8px;
  }

  .cart-faixa-mobile {
    margin-left: 42px;
    width: 100%;
    position: relative;
  }

  .cart-faixa-x-visible {
    display: block;
    position: absolute;
    top: 12px;
    right: 12px;
    font-size: 23px;
    color: $white;
    font-family: 'Helvetica','Arial',sans-serif;
  }

  .cart-shadow-mobile {
    background: rgba(0,0,0,.6);
    width: 364px;
    margin-left: 56px;
    height: 1000px;
    margin-top: -525px;
    position: absolute;
    top: 599px;
  }
}

#popup-sucsess {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0,0,0, 0.5);
  display: none;
  z-index: 801;

  .popup-sucsess-front {
    width: 25%;
    height: 150px;
    position: absolute;
    left: 35%;
    background-color: $white;
    top: 15%;
    border-radius: 10px;
    padding: 20px;

    @media only screen and (max-width: 715px) {
      width: 70%;
      left: 10%;
    }
  }

  .popup-sucsess-title {
    font-size: 28px;
  }

  .popup-sucsess-message {
    font-size: 24px;
    display: none;
    margin-top: 20px;
  }

  .popup-sucsess-ok {
    width: 80px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: none;
    padding: 10px;
    background-color: $white;
    border: 1px solid #dedede;
    cursor: pointer;

    &:hover {
      border: 1px solid $blue;
      background-color: $blue;
      color: white;
    }
  }

  .loading {
    display: flex;
    justify-content: center;

    .loader {
      color: $blue;
      font-size: 50px;
      text-indent: -9999em;
      overflow: hidden;
      width: 1em;
      height: 1em;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      animation: load 1.7s infinite ease, round 1.7s infinite ease;
    }

    @keyframes load {
      0% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
      }

      5%, 95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
      }

      10%, 59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
      }

      20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
      }

      38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
      }

      100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
      }
    }

    @keyframes round {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }
  }
}
